@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Don't Panic</h1>

    <p>calculate the answer to the Ultimate Question of Life, the Universe, and Everything...</p>
    
    <p><a href="/movies/check">Form is here </a></p>

</div>

