@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Gimme Something Good</h1>
    
    <p><a href="/movies/random">Form is here </a></p>
    <form asp-controller="Home" asp-action="Create" class="form-inline mbm">

        <p>calculate the answer to the Ultimate Question of Life, the Universe, and Everything...</p>

        <div class="form-group">
            <input class="form-control" name="EquipmentName" />
            <input class="btn btn-primary" type="submit" value="Calculate" />
        </div>

    </form>


</div>

<div class="row">

    <div class="col-md-4">



    </div>



</div>
