@model Vidly.ViewModels.IndexCustomersViewModel
@* we need customers only not the movies *@
@{
    ViewBag.Title = "Customers";
}
<h2>@ViewBag.Title</h2>

<p>Setting up a user/customer page </p>


@if (Model.Customers.Count == 0)
{
    <text>No One is online discussing movies right now.</text>
}
else
{
    <table class="table table-striped">
        <thead><tr><th>Users Online Discussing Movies</th></tr></thead>
        @foreach (var custOn in Model.Customers)
        {
            <tr><td>@custOn.Id - <a href="/Details/@custOn.Id">@custOn.Name </a></td></tr>
        }
    </table>
}

