@model Vidly.Models.Movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<form asp-controller="Movies" asp-action="Create" method="post" class="form-inline mbm">

    <p>calculate the answer to the Ultimate Question of Life, the Universe, and Everything...</p>

    <div class="form-group">
        <input class="form-control" name="passMe" />
        <input class="btn btn-primary" type="submit" value="Calculate" />
    </div>

</form>
