@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>


@if (!Model.Any())
{
    <p>No One is online discussing movies right now.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Users Online Discussing Movies</th>
        </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td> @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id}, null) </td>
            </tr>
        }
    </table>
}

